h1, h2, h3,
h4, h5, h6,
p, span, .header-text, .footer-text {
  font-family: 'Mitr', sans-serif;
}

.text-detail {
  font-family: 'K2D', sans-serif;
  font-size: 18px;
}

.text-highlight {
  color: #E6332A;
}

.duration-title {
  font-size: 48px;
}

.detail-title {
  font-size: 36px;
}

.card-text-size {
  font-size: 24px;
}

@media (max-width: 769px) {
  .text-detail {
    font-size: 14px;
  }

  .duration-title {
    font-size: 36px;
  }

  .detail-title {
    font-size: 24px;
  }

  .card-text-size {
    font-size: 18px;
  }
}

@media (max-width: 577px) {
  .text-detail {
    font-size: 16px;
  }

  .duration-title {
    font-size: 30px;
  }

  .detail-title {
    font-size: 24px;
  }

  .card-text-size {
    font-size: 18px;
  }
}

.col.banner {
  padding: 0 0;
}

.banner-image {
  width: 100%;
  height: 80%;
}

.center-banner {
  background-image: url('https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-center.png');
  background-repeat:no-repeat;
  background-size: 100% 80%;
}

.hero-banner {
  height: 80%;
}


.logo-image {
 max-width: 40%;
}

.card.card-color {
  background: #213ABF;
}

.footer-background {
  background: #213ABF;
}

.footer-text, .footer-text>a {
  color: white;
}
